{{!-- label.input(class= className)
    input.input-field.input__field.js-input(type= type, name="", class= inputClass, placeholder= placeholder)

    -if (labelText)
        .input__label= labelText

    -if (type === "password")
        button.button-reset.input__hide-button.js-hide-show-btn
            svg.icon-stroke_standard.icon_16.is-active
                use(xlink:href="#eye")
            svg.icon-stroke_standard.icon_16
                use(xlink:href="#eye-crossed")

    -if (type === "search")
        svg.icon_standard.icon_24.input__icon_position_left
            use(xlink:href="#search") --}}

<label class="input">
    {{> InputField class="input__field js-input" }}

    <span class="input__label"> {{ label }} </span>
</label>