<aside class="side-menu">
    <div class="side-menu__top-container">
        {{> InputField class="input-field_type_search side-menu__search-input" type="search" name="search" placeholder="Search"}}

        <button class="button-reset js-modal-btn" data-popup-trigger="profile">
            {{> Avatar class="avatar_viewtype_person side-menu__avatar" }}
        </button>
    </div>

    {{> ChatsList class="side-menu__chats-list js-chats-list"}}
</aside>
