<div style="display: none">
  <svg xmlns="http://www.w3.org/2000/svg">
    <defs>
      <symbol id="close" viewBox="0 0 22 22" fill="none">
        <line x1="1.35355" y1="1.14645" x2="21.3535" y2="21.1464"></line>
        <line x1="0.646447" y1="21.1464" x2="20.6464" y2="1.14642"></line>
      </symbol>
      <symbol id="pencil" viewBox="0 0 17 17">
        <path d="M15.206 1.79389C16.1693 2.75718 16.1693 4.31898 15.206 5.28227L6.09605 14.3922C5.70089 14.7873 5.20577 15.0677 4.66363 15.2032L1.83808 15.9096C1.38644 16.0225 0.977354 15.6134 1.09026 15.1618L1.79665 12.3362C1.93219 11.7941 2.21252 11.299 2.60767 10.9038L11.7176 1.79389C12.6809 0.830604 14.2427 0.830604 15.206 1.79389ZM10.8454 4.41004L3.47977 11.7759C3.24267 12.013 3.07447 12.3101 2.99315 12.6354L2.53604 14.4638L4.3645 14.0067C4.68979 13.9254 4.98686 13.7572 5.22395 13.5201L12.5893 6.15397L10.8454 4.41004ZM12.5897 2.66599L11.7174 3.53808L13.4613 5.282L14.3339 4.41017C14.8155 3.92853 14.8155 3.14763 14.3339 2.66599C13.8522 2.18434 13.0713 2.18434 12.5897 2.66599Z"></path>
      </symbol>
      <symbol id="exit" viewBox="0 0 17 17" fill="none">
        <path d="M12.2524 5.1909L15.4334 8.49999L12.2524 11.8091" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M6.94824 8.49999H15.4309" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M6.94858 15.4333H2.70616C2.54542 15.4333 2.39127 15.3669 2.27761 15.2487C2.16395 15.1305 2.1001 14.9702 2.1001 14.803V2.19697C2.1001 2.0298 2.16395 1.86948 2.27761 1.75128C2.39127 1.63307 2.54542 1.56667 2.70616 1.56667H6.94858" stroke-linecap="round" stroke-linejoin="round"></path>
      </symbol>
      <symbol id="eye" viewBox="0 0 16 16" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.666748 8.50001C0.666748 8.50001 3.33341 3.16667 8.00008 3.16667C12.6667 3.16667 15.3334 8.50001 15.3334 8.50001C15.3334 8.50001 12.6667 13.8333 8.00008 13.8333C3.33341 13.8333 0.666748 8.50001 0.666748 8.50001Z" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M8.00024 10.5C9.10481 10.5 10.0002 9.60457 10.0002 8.5C10.0002 7.39543 9.10481 6.5 8.00024 6.5C6.89567 6.5 6.00024 7.39543 6.00024 8.5C6.00024 9.60457 6.89567 10.5 8.00024 10.5Z" stroke-linecap="round" stroke-linejoin="round"></path>
      </symbol>
      <symbol id="eye-crossed" viewBox="0 0 16 17" fill="none">
        <path d="M11.9601 12.46C10.8205 13.3287 9.43282 13.8099 8.00008 13.8333C3.33341 13.8333 0.666748 8.50001 0.666748 8.50001C1.49601 6.9546 2.64617 5.60441 4.04008 4.54001M6.60008 3.32667C7.05897 3.21926 7.52879 3.16556 8.00008 3.16667C12.6667 3.16667 15.3334 8.50001 15.3334 8.50001C14.9287 9.25708 14.4461 9.96983 13.8934 10.6267M9.41341 9.91334C9.23032 10.1098 9.00951 10.2674 8.76418 10.3768C8.51885 10.4861 8.25402 10.5448 7.98548 10.5496C7.71693 10.5543 7.45019 10.5049 7.20115 10.4043C6.95212 10.3037 6.7259 10.154 6.53598 9.96411C6.34606 9.77419 6.19634 9.54797 6.09575 9.29893C5.99516 9.0499 5.94577 8.78315 5.9505 8.51461C5.95524 8.24607 6.01402 7.98124 6.12333 7.7359C6.23264 7.49057 6.39025 7.26977 6.58675 7.08667M0.666748 1.16667L15.3334 15.8333" stroke-linecap="round" stroke-linejoin="round"></path>
      </symbol>
      <symbol id="image" viewBox="0 0 22 22" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M4 1.5H18C19.3807 1.5 20.5 2.61929 20.5 4V14L14.5194 12.4052C13.5108 12.1362 12.4714 12 11.4275 12H10.5725C9.52864 12 8.48921 12.1362 7.48057 12.4052L1.5 14V4C1.5 2.61929 2.61929 1.5 4 1.5ZM0 4C0 1.79086 1.79086 0 4 0H18C20.2091 0 22 1.79086 22 4V18C22 20.2091 20.2091 22 18 22H4C1.79086 22 0 20.2091 0 18V4ZM8 6C8 7.10457 7.10457 8 6 8C4.89543 8 4 7.10457 4 6C4 4.89543 4.89543 4 6 4C7.10457 4 8 4.89543 8 6Z"></path>
      </symbol>
      <symbol id="document" viewBox="0 0 22 22" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M4 1.5H18C19.3807 1.5 20.5 2.61929 20.5 4V12H16C13.7909 12 12 13.7909 12 16V20.5H4C2.61929 20.5 1.5 19.3807 1.5 18V4C1.5 2.61929 2.61929 1.5 4 1.5ZM12 22H4C1.79086 22 0 20.2091 0 18V4C0 1.79086 1.79086 0 4 0H18C20.2091 0 22 1.79086 22 4V12V18C22 20.2091 20.2091 22 18 22H12Z"></path>
      </symbol>
      <symbol id="location" viewBox="0 0 22 22" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M20.5 11C20.5 16.2467 16.2467 20.5 11 20.5C5.75329 20.5 1.5 16.2467 1.5 11C1.5 5.75329 5.75329 1.5 11 1.5C16.2467 1.5 20.5 5.75329 20.5 11ZM22 11C22 17.0751 17.0751 22 11 22C4.92487 22 0 17.0751 0 11C0 4.92487 4.92487 0 11 0C17.0751 0 22 4.92487 22 11ZM11 14C12.6569 14 14 12.6569 14 11C14 9.34315 12.6569 8 11 8C9.34315 8 8 9.34315 8 11C8 12.6569 9.34315 14 11 14Z"></path>
      </symbol>
      <symbol id="plus" width="12" height="12" viewBox="0 0 12 12" fill="none">
        <path d="M6 1L6 11" stroke-width="1.5" stroke-linecap="round"></path>
        <path d="M1 6L11 6" stroke-width="1.5" stroke-linecap="round"></path>
      </symbol>
      <symbol id="delete" viewBox="0 0 22 22">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.48567 3.98096H2.82852C2.48281 3.98096 2.19995 4.26256 2.19995 4.60953C2.19995 4.9565 2.48281 5.2381 2.82852 5.2381H4.11079L4.66394 18.5167C4.70794 19.5268 5.53765 20.3238 6.54965 20.3238H15.4502C16.4622 20.3238 17.2919 19.5268 17.3359 18.5167L17.8891 5.2381H19.1714C19.5171 5.2381 19.8 4.9565 19.8 4.60953C19.8 4.26256 19.5171 3.98096 19.1714 3.98096H13.5142V3.35239C13.5142 2.85236 13.3162 2.37276 12.9611 2.01887C12.6091 1.6653 12.1282 1.46667 11.6285 1.46667C11.2231 1.46667 10.7768 1.46667 10.3714 1.46667C9.87167 1.46667 9.39081 1.6653 9.03881 2.01887C8.68367 2.37276 8.48567 2.85236 8.48567 3.35239V3.98096ZM5.37108 5.2381L5.92108 18.4642C5.93365 18.8008 6.21337 19.0667 6.54965 19.0667H15.4502C15.7896 19.0667 16.0662 18.8008 16.0788 18.4642L16.6288 5.2381H5.37108ZM13.5142 7.75239V15.9238C13.5142 16.2708 13.7971 16.5524 14.1428 16.5524C14.4885 16.5524 14.7714 16.2708 14.7714 15.9238V7.75239C14.7714 7.40542 14.4885 7.12382 14.1428 7.12382C13.7971 7.12382 13.5142 7.40542 13.5142 7.75239ZM7.22852 7.75239V15.9238C7.22852 16.2708 7.51138 16.5524 7.85709 16.5524C8.20281 16.5524 8.48567 16.2708 8.48567 15.9238V7.75239C8.48567 7.40542 8.20281 7.12382 7.85709 7.12382C7.51138 7.12382 7.22852 7.40542 7.22852 7.75239ZM10.3714 7.75239V15.9238C10.3714 16.2708 10.6542 16.5524 11 16.5524C11.3457 16.5524 11.6285 16.2708 11.6285 15.9238V7.75239C11.6285 7.40542 11.3457 7.12382 11 7.12382C10.6542 7.12382 10.3714 7.40542 10.3714 7.75239ZM12.2571 3.98096H9.74281V3.35239C9.74281 3.18582 9.8088 3.02585 9.92823 2.90799C10.0445 2.79013 10.2048 2.72382 10.3714 2.72382H11.6285C11.7951 2.72382 11.9554 2.79013 12.0717 2.90799C12.1911 3.02585 12.2571 3.18582 12.2571 3.35239V3.98096Z"></path>
      </symbol>
      <symbol id="send" viewBox="0 0 24 24" fill="none">
        <path d="M5.4 20.8849L22.85 13.4049C23.66 13.0549 23.66 11.9149 22.85 11.5649L5.4 4.08488C4.74 3.79488 4.01 4.28488 4.01 4.99488L4 9.60488C4 10.1049 4.37 10.5349 4.87 10.5949L19 12.4849L4.87 14.3649C4.37 14.4349 4 14.8649 4 15.3649L4.01 19.9749C4.01 20.6849 4.74 21.1749 5.4 20.8849Z"></path>
      </symbol>
      <symbol id="clip" viewBox="0 0 32 32" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.18661 14.2769L14.7628 6.70075L15.7056 7.64355L8.12942 15.2197L7.18661 14.2769Z"></path>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.70077 16.7909L17.2769 9.21478L18.2197 10.1576L10.6436 17.7337L9.70077 16.7909Z"></path>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M15.0435 22.1336L22.6197 14.5574L23.5625 15.5002L15.9864 23.0764L15.0435 22.1336Z"></path>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5572 24.6476L25.1334 17.0715L26.0762 18.0143L18.5 25.5904L17.5572 24.6476Z"></path>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5574 24.6478C14.9423 27.2629 10.7118 27.2723 8.10829 24.6688C5.50479 22.0653 5.51421 17.8348 8.12933 15.2197L7.18652 14.2769C4.04838 17.415 4.03708 22.4916 7.16127 25.6158C10.2855 28.74 15.3621 28.7287 18.5002 25.5906L17.5574 24.6478Z"></path>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M22.6195 14.5575L23.5623 15.5003C26.003 13.0596 26.0118 9.11108 23.5819 6.68115C21.152 4.25122 17.2035 4.26001 14.7627 6.70079L15.7055 7.6436C17.6233 5.72585 20.7257 5.71894 22.6349 7.62817C24.5441 9.5374 24.5372 12.6398 22.6195 14.5575Z"></path>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.70068 16.7913C7.95727 18.5347 7.95099 21.355 9.68665 23.0907C11.4223 24.8263 14.2427 24.8201 15.9861 23.0767L15.0433 22.1338C13.8229 23.3542 11.8486 23.3586 10.6337 22.1437C9.41871 20.9287 9.4231 18.9545 10.6435 17.7341L9.70068 16.7913Z"></path>
      </symbol>
      <symbol id="pin" viewBox="0 0 18 18" fill="none">
        <path d="M6.88237 11.1177L2.87293 7.10823C2.75165 6.98694 2.76068 6.78769 2.89245 6.67788L3.23776 6.39012C4.80856 5.08113 7.00527 4.82617 8.83412 5.7406V5.7406C8.93319 5.79013 9.05284 5.77072 9.13116 5.6924L11.6471 3.17648L11.5644 3.01119C11.2832 2.4487 11.2832 1.78662 11.5644 1.22413V1.22413C11.6051 1.14281 11.7135 1.12523 11.7777 1.18951L16.8105 6.22228C16.8748 6.28657 16.8572 6.39494 16.7759 6.4356V6.4356C16.2134 6.71685 15.5513 6.71685 14.9888 6.4356L14.8235 6.35296L12.3076 8.86887C12.2293 8.94719 12.2099 9.06684 12.2594 9.1659V9.1659C13.1739 10.9948 12.9189 13.1915 11.6099 14.7623L11.3221 15.1076C11.2123 15.2393 11.0131 15.2484 10.8918 15.1271L6.88237 11.1177ZM6.88237 11.1177L1.05884 16.9412" stroke-linecap="round"></path>
      </symbol>
      <symbol id="search" viewBox="0 0 24 24">
        <path d="M16.4752 15.3304C17.813 13.7093 18.6579 11.63 18.6579 9.33921C18.6579 4.19383 14.4686 0 9.32893 0C4.18922 0 0 4.19383 0 9.33921C0 14.4846 4.18922 18.6784 9.32893 18.6784C11.582 18.6784 13.6942 17.8678 15.3135 16.4934L22.5655 23.7533C22.7415 23.9295 22.9527 24 23.1639 24C23.3751 24 23.5864 23.9295 23.7624 23.7533C24.0792 23.4361 24.0792 22.8722 23.7624 22.5551L16.4752 15.3304ZM9.29373 16.9868C5.06931 16.9868 1.65457 13.5683 1.65457 9.33921C1.65457 5.11013 5.06931 1.69163 9.29373 1.69163C13.5182 1.69163 16.9329 5.11013 16.9329 9.33921C16.9329 13.5683 13.5182 16.9868 9.29373 16.9868Z"></path>
      </symbol>
      <symbol id="unpin" viewBox="0 0 18 18" fill="none">
        <path d="M6.88237 11.1177L2.87293 7.10823C2.75165 6.98694 2.76068 6.78769 2.89245 6.67788L3.23776 6.39012C4.80856 5.08113 7.00527 4.82617 8.83412 5.7406V5.7406C8.93319 5.79013 9.05284 5.77072 9.13116 5.6924L11.6471 3.17648L11.5644 3.01119C11.2832 2.4487 11.2832 1.78662 11.5644 1.22413V1.22413C11.6051 1.14281 11.7135 1.12523 11.7777 1.18951L16.8105 6.22228C16.8748 6.28657 16.8572 6.39494 16.7759 6.4356V6.4356C16.2134 6.71685 15.5513 6.71685 14.9888 6.4356L14.8235 6.35296L12.3076 8.86887C12.2293 8.94719 12.2099 9.06684 12.2594 9.1659V9.1659C13.1739 10.9948 12.9189 13.1915 11.6099 14.7623L11.3221 15.1076C11.2123 15.2393 11.0131 15.2484 10.8918 15.1271L6.88237 11.1177ZM6.88237 11.1177L1.05884 16.9412M1.05884 1.58825L15.8824 16.9412" stroke-linecap="round"></path>
      </symbol>
    </defs>
  </svg>
</div>
