@import "./src/styles/constants";
@import "./src/styles/mixins";

.popup {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    z-index: 10;
    padding: 20px 6px;

    @include tablet {
        padding: 30px;
    }

    &.is-active {
        display: flex;
    }

    &__overlay {
        position: absolute;
        inset: 0;
        background-color: rgba(#000, .3);
    }

    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 492px;
        width: 100%;
        max-height: 100%;
        background-color: #fff;
        border-radius: 40px;
        box-shadow: 0 0 20px rgb(205 205 205 / 50%);
    }
    
    &__content {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 100%;
        max-height: 100%;
        padding: 40px 70px;
        overflow-y: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__close-button {
        position: absolute;
        top: 20px;
        right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 26px;
        height: 26px;
    }
}
