<div class="popup is-active" data-popup={{data-popup}}>
    <div class="popup__overlay js-modal-overlay"></div>

    <div class="popup__wrapper">
        {{#> Board }}
            <button class="button-reset popup__close-button js-close-modal" type="button">
                <svg class="icon-stroke_standard icon_20 ">
                    <use xlink:href="#close"></use>
                </svg>
            </button>

            <div class="popup__content">
                {{> @partial-block }}
            </div>
        {{/ Board }}
    </div>
</div>