<div class="popup js-popup" data-popup="{{dataPopupValue}}">
    <div class="popup__overlay js-modal-overlay"></div>

    <div class="popup__wrapper">
        <button class="button-reset popup__close-button js-close-modal" type="button">
            <svg class="icon-stroke_standard icon_20 ">
                <use xlink:href="#close"></use>
            </svg>
        </button>

        <div class="popup__content">
            {{> @partial-block dataPopupValue }}
        </div>
    </div>
</div>
