.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.button-reset {
    background-color: transparent;
    border: none;
    text-align: left;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.flex {
    &-column {
        display: flex;
        flex-direction: column;

        &_align-center {
            align-items: center;
        }
    }
}
