{{#> PageStart}}
    {{> Heading class="board__heading" text="Sign in to MyMsg"}}

    {{#> Form }}

        {{> InputList inputListBlock="loginPage"}}
        

        <div class="buttons-wrapper">
            {{> Button class="button_success" text="Sign in" type="button" page="chat"}}

            {{> Link class="" text="Create profile" page="sign-up" }}
        </div>
    {{/ Form }}
{{/ PageStart}}
