{{#> PageContent class="page_content_start" }}
    {{#> Board }}
        {{> Heading class="board__heading" text="Sign in to MyMsg"}}

        {{#> Form }}

            {{> InputList }}
            

            <div class="buttons-wrapper">
                {{> Button class="button_success" text="Sign in" type="button" page="chat"}}

                {{> Link class="" href="./sign-up.html" text="Create profile" }}
            </div>
        {{/ Form }}
    {{/ Board }}
{{/ PageContent }} 
