<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <div class="page page-error">    
        <main class="page-error__container flex-column flex-column_align-center">
            <h1 class="visually-hidden">Ошибка</h1> 

            <span class="page-error__error"> {{ error }} </span>

            <p class="page-error__text"> {{ text }}</p>

            {{> Link text = "Back to chats" page="chat"}}
        </main>
    </div>
</body>
</html>