@import "./src/constants.scss";

.context-menu {
    display: none;

    position: absolute;
    flex-direction: column;
    gap: 16px;
    min-width: 160px;
    padding: 16px;
    border-radius: $border-radius--size-s;
    background-color: $color--background-default;
    box-shadow: 0 0 6px $color--shadow;

    &.is-active {
        display: flex;
    }

    &__link {
        font-weight: 500;
    }
}