<div class="context-menu js-context-menu">
        {{!-- button.button-reset.link.link_black.link_has-icon.context-menu__link.js-modal-btn(data-popup-trigger="deleteChat")
            svg.icon_danger.icon_18
                use(xlink:href="#delete")
            | Delete chat 

        button.button-reset.link.link_black.link_has-icon.context-menu__link
            svg.icon-stroke_info.icon_18
                use(xlink:href="#pin")
            | Pin the chat

        button.button-reset.link.link_black.link_has-icon.context-menu__link 
            svg.icon-stroke_info.icon_18
                use(xlink:href="#unpin")
            | Unpin the chat --}}
</div>