@import "./src/styles/constants";

.profile-popup {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__form {
        gap: 40px;
    }

    &__avatar-container {
        position: relative;
        border-radius: 50%;

        &:hover {
            > .profile-popup__avatar-cover {
                opacity: 1;
            }
        }
    }

    &__avatar-cover {
        display: none;
        position: absolute;
        inset: 0;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border-radius: 50%;
        background-color: rgba($color-black, .5);
        color: $color-white;
        text-align: center;
        font-size: 16px;
        line-height: 1.2;
        opacity: 0;
        transition: opacity .2s ease;

        &.is-active {
            display: flex;
            cursor: pointer;
        }
    }

    &__avatar {
        position: relative;
        width: 120px;
        height: 120px;
    }

    &__avatar-input {
        &:disabled {
            + .profile-popup__avatar-cover {
                display: none;
            }
        }
    }

    &__form-buttons {
        display: none;

        &.is-active {
            display: flex;
        }
    }

    &__buttons {
        display: none;

        &.is-active {
            display: flex;
        }
    }
}
