{{#> PageStart}}
    {{> Heading class="board__heading" text="Sign up to MyMsg"}}

    {{#> Form }}

        {{> InputList inputListBlock="signUpPage"}}
        

        <div class="buttons-wrapper">
            {{> Button class="button_success" text="Sign up" type="button" page="chat"}}

            {{> Link class="" text="Already have a profile?" page="login" }}
        </div>
    {{/ Form }}
{{/ PageStart}}
