<ul class="input-list">
    {{#input-list inputListBlock}}
        {{#each this}}
            <li class="input-list__item">
                {{> Input }}
            </li>
        {{/each}}
    {{/input-list}}
</ul>