@import "./src/styles/constants";

.link {
    background-color: transparent;
    border: none;
    font-size: 12px;
    color: $color--info;
    line-height: 1;
    text-align: left;
    cursor: pointer;
    transition: border-bottom-color .2s ease;
    
    &:focus {
        outline: none;
    }

    &_has-icon {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &_black {
        color: $color-black;
    }
}
