@import "./src/styles/constants";

.message {
    max-width: 60%;
    padding: 12px 12px 6px;
    background-color: $color-white;
    border-radius: $border-radius--size-s;
    font-size: 12px;
    line-height: 1.25;

    &.is-authored {
        align-self: flex-end;
        background-color: $color--brand-light;
    }
    
    &__image {
        max-width: 340px;
        border-radius: $border-radius--size-xs;
    }

    &__text {
        display: inline;
        
        &:not(:first-child) {
            margin-top: 10px;
        }
    }

    &__time {
        float: right;
        margin-left: 6px;
        margin-top: 10px;
    }
}